.section-gallery {
  height: 595px;
  /*временно*/
  background: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 3.jpg);
  margin-bottom: 80px;
  /*при верстке предыдущего раздела может поменяться*/
}