.section-gallery {
  margin-bottom: 80px;
  padding: 80px 0;
  background: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 3.jpg);
}

.gallery-content {
  display: flex;
}

.gallery-left {
  margin-right: 50px;
}

.gallery-list {
  margin-bottom: 176px;
}

.gallery-heading {
  color: var(--color-white);
}

 .gallery-list-heading {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-white);
}

.gallery-drop-heading {
  position: relative;
  display: block;
  width: 400px;
  height: 40px;
  padding-top: 3px;
  padding-left: 16px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: var(--color-white);
}

.gallery-icon-arrow {
  position: absolute;
  display: inline-block;
  right: 12px;
  color: #fff;
}

.gallery-icon-arrow.gallery-open {
  transform: rotate(-180deg);
  transition: transform 0.6s;
}

.gallery-icon-arrow.gallery-close {
  transform: rotate(0deg);
  transition: transform 0.6s;
}

.gallery-icon-arrow::before {
  content: url(/img/svg/arrow.svg);
}

.gallery-drop-menu {
  max-height: 0;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: #000;
}

.gallery-item-drop {
  height: 39px;
  padding-top: 2px;
  padding-left: 14px;
  border-bottom: 1px solid #999;
}

.gallery-drop-link {
  display: block;
  color: #999;
}

.gallery-drop .gallery-show,
.gallery-drop .gallery-hide {
  transform-origin: 50% 0%;
  width: 400px;
  border: 1px solid #999;
  border-radius: 5px;
}

.gallery-drop .gallery-show {
  display: block;
  max-height: 9999px;
  transform: scaleY(1);
  animation: showAnimation 0.5s ease-in-out;
  transition: max-height 1s ease-in-out;
}

.gallery-drop .gallery-hide {
  max-height: 0;
  transform: scaleY(0);
  animation: hideAnimation 0.4s ease-out;
  transition: max-height 0.6s ease-out;
}

.gallery-label {
  display: block;
  user-select: none;
  cursor: pointer;
}

.gallery-input-radio {
  position: absolute;
  appearance: none;
}

.gallery-radio-text {
  position: relative;
  padding-left: 25px;
  color: var(--color-white);
}

.gallery-radio-text::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 53%;
  width: 12px;
  height: 12px;
  outline: 1px solid #fff;
  transform: translateY(-50%);
}

.gallery-radio-text::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 46%;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #C283F3;
  opacity: 0;
  transition: opacity 0.3s;
}

.gallery-input-radio:checked + .gallery-radio-text::after {
  opacity: 1;
}

.gallery-input-radio:checked + .gallery-radio-text::before {
  outline: 1px solid #C283F3;
}

.gallery-slaider {
  display: flex;
  height: 350px;
  margin-top: 25px;
}

.gallery-item-slider:not(:last-child) {
  margin-right: 50px;
}

.gallery-item-link {
  display: block;
  position: relative;
  width: 350px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-item-link:hover::before {
  content: "";
  position: absolute;
  top: 49%;
  left: 50%;
  width: 300px;
  height: 300px;
  background-image: url(/img/svg/hover-gallery.svg);
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

.gallery1 {
  background-image: url(/img/gallery1.png);
}

.gallery2 {
  background-image: url(/img/gallery2.png);
}

.gallery3 {
  background-image: url(/img/gallery3.png);
}

.gallery4 {
  background-image: url(/img/gallery4.png);
}

.gallery5 {
  background-image: url(/img/gallery5.png);
}

.gallery6 {
  background-image: url(/img/gallery6.png);
}


 .gallery-button-next, .gallery-button-prev { 
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #999;
  border-radius: 50px;
 }

.gallery-button-prev {
  top: -5px;
  left: 4px;
  transform: rotate(90deg);
} 

.gallery-button-next {
  top: 25px;
  left: 4px;
  transform: rotate(-90deg);
}

.gallery-button-prev::before {
  content: url(/img/svg/arrow.svg);
  position: absolute;
  top: -2px;
  left: 9px;
}

.gallery-button-next::before {
  content: url(/img/svg/arrow.svg);
  position: absolute;
  top: -2px;
  left: 9px;
}


.gallery-button-next {
  top: 25px;
  left: 104px;
} 

.gallery-pagination {
  position: absolute;
  width: 46px;
  top: 25px;
  left: 52px;
  color: var(--color-white);
}



.gallery2-content {
  display: flex;
  width: 900px;
  height: 500px;
  background: var(--color-white);
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
}

.img-descr {
  padding: 121px 48px;
}

.img-author {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.img-heading {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.img-years {
  display: block;
  margin-bottom: 39px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.img-text {
  line-height: 22px;
}

/* 
.gallery2-content {
  display: none; /* Скрываем контент изначально */
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  /* background-color: rgba(0, 0, 0, 0.5); Черный полупрозрачный фон */
  /* z-index: 100; Устанавливаем z-index, чтобы контент был поверх слайдов */
/* } */

/* .gallery-item-link:active + .gallery2-content { */
  /* display: block;  */
  /* При наведении на .gallery-item-link показываем .gallery2-content */
/* } */
