.section__submenu {
  margin-bottom: 80px;
  background-image: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 2.png);
  background-repeat: no-repeat;
}

.submenu-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 15px;
  background: rgba(0, 0, 0, 0.5);
}

.submenu-list{
  display: flex;
}


.dropdown:not(:last-child) {
  margin-right: 96px;
}

.dropdown-heading {
  position: relative;
  display: block;
  /* padding: 23px 0 21px; */
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
}

.icon-arrow {
  position: absolute; 
  top: -3px;
  /* width: 13px; */
  display: inline-block;
}

.icon-arrow.open {
  transform: rotate(-180deg);
  top: 7px;
}

.icon-arrow.close {
  transform: rotate(0deg);
}

.icon-arrow::after {
  content: "\002304";
}

.dropdown-menu {
  position: absolute;
  top: 170px;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: #666;

}



.dropdown-item {
  width: 220px;
  height: 40px;
  padding-left: 14px;
}

.dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown-link {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-white);
}

/* .dropdown-link {
  display: block;
  width: 220px;
  height: 40px;
  padding-left: 14px;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-white);
  background-repeat: no-repeat;
} */

.dropdown .show,
.dropdown .hide {
  transform-origin: 50% 0%;
  width: 300px;
  height: 300px;
  padding: 40px;
}

.dropdown .show {
  display: block;
  max-height: 9999px;
  transform: scaleY(1);
  animation: showAnimation 0.5s ease-in-out;
}

.dropdown .hide {
  max-height: 0;
  transform: scaleY(0);
  animation: hideAnimation 0.4s ease-out;
}

/* .submenu__nav {
  margin-bottom: 62px;
  padding-top: 20px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
} */

/* .submenu__nav:hover {
  background: #666;
} */


/* .submenu-item:not(:last-child) {
  margin-right: 100px;
}

.submenu-item {
  position: relative;
}

.submenu-button {
  display: flex;
  padding: 0;
  border: none;
  background: transparent;
}

.submenu__heading {
  margin-right: 6px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--color-white);
}

.arrow {
  display: inline-block;
  align-self: center;
  border: solid var(--color-white);
  border-width: 0 1px 1px 0;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} */

/* .up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
} */
/* 
.dropdown__nav {
  position: relative;
  /* width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.5); */


/* .dropdown__nav {
  position: absolute;
  top: 49px;
  width: 300px;
  height: 300px;
  display: flex;

  padding: 40px; 
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 

  background: #666;
  top: -100vw;
  transition: top .3s ease-in-out;
} */

/* .dropdown--showed {
  top: 49px;
  transition: top .3s ease-in-out;
}

.dropdown-list {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 */
/* .dropdown-item {
  width: 220px;
  height: 40px;
  padding-left: 14px;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-white);
  background-repeat: no-repeat;
} */

/* .bar {
  position: relative;
} 

.bar__line {
  position: absolute;
  top: 62px;
  left: 277px;
  width: 2px;
  height: 220px;
  background-color: #000;
}  */

.dropdown-tintoretto {
  background-image: url(../img/submenu_Tintoretto.png);
}

.dropdown-fridrih {
  background-image: url(../img/submenu_Fridrif.png);
}

.dropdown-leonardo {
  background-image: url(../img/submenu_Leonardo.png);
}

.dropdown-verrokkyo {
  background-image: url(../img/submenu_Verrokkyu.png);
}
/* 
.dropdown-mone {
  background-image: url(../img/dropdown-mone.png);
}

.dropdown-sisley {
  background-image: url(../img/dropdown-sisley.png);
}

.dropdown-mane {
  background-image: url(../img/dropdown-mane.png);
}

.dropdown-renuar {
  background-image: url(../img/dropdown-renuar.png);
}

.dropdown-gog {
  background-image: url(../img/dropdown-vangog.png);
}

.dropdown-sezann {
  background-image: url(../img/dropdown-sezann.png);
}

.dropdown-gogen {
  background-image: url(../img/dropdown-gogen.png);
}

.dropdown-sera {
  background-image: url(../img/dropdown-sera.png);
}

.dropdown-kandinskyi {
  background-image: url(../img/dropdown-kandinskyi.png);
}

.dropdown-marinetti {
  background-image: url(../img/dropdown-marinetti.png);
}

.dropdown-malevich {
  background-image: url(../img/dropdown-malevich.png);
}

.dropdown-pikasso {
  background-image: url(../img/dropdown-pikasso.png);
}

.dropdown-karra {
  background-image: url(../img/dropdown-karra.png);
}

.dropdown-pratella {
  background-image: url(../img/dropdown-pratella.png);
}

.dropdown-severini {
  background-image: url(../img/dropdown-severini.png);
}

.dropdown-balla {
  background-image: url(../img/dropdown-balla.png);
} */
 


/* .submenu-select {
  font-size: 18px;
  line-height: 25px;
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
} */

/* .aside-select:not(:last-child) {
  margin-right: 96px;
} */




.submenu-button_nav {
  width: 22px;
  height: 21px;
  margin-right: 7px;
  background: url(../img/svg/aside_nav_search.svg) no-repeat;
  border: none;
}

.input-search {
  width: 218px;
  font-size: 18px;
  line-height: 25px;
  border: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}


.submenu-descr {
  max-width: 597px;
  color: var(--color-white);
}

.submenu-heading {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
}

.submenu-text {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.submenu-button_descr {
  margin-bottom: 122px;
  padding: 22px 35px;
  font-weight: 700;
  background-color: var(--color-purple);
  color: var(--color-white);
}




